<%- include('../layout', { title: 'Change Password' }) %>
<div class="content px-4">
  <h1>Change Password</h1>
  <div class="row">
    <%- include('./sidebar', { active: 'password' }) %>
    <div class="col-md-9">
      <form method='POST' action='/Account/Manage' class='mb-3'>
        <input type='hidden' name='action' value='changePassword'>
        <div class='form-floating mb-3'>
          <input type='password' name='oldPassword' id='oldPassword' class='form-control' placeholder='Old password' required>
          <label for='oldPassword' class='form-label'>Old password</label>
        </div>
        <div class='form-floating mb-3'>
          <input type='password' name='password' id='password' class='form-control' placeholder='New password' required>
          <label for='password' class='form-label'>New password</label>
        </div>
        <button type='submit' class='btn btn-primary w-100'>Change Password</button>
      </form>
    </div>
  </div>
</div> 