<%- include('layout', { title: 'Home' }) %>
<header class="w3-container w3-center padd">
  <h1 class="w3-xxlarge w3-margin-bottom"><b>Kdo je Cekki?</b></h1>
</header>

<div class="content">
  <section id="about" class="w3-container w3-center section-padding">
      <h2><b>Tadeáš Grigori</b></h2>
      <p id="aboutText" class="important">Jsem Tadeáš Grigori, student, který se vášnivě zajímá o rybaření, basketbal, programování v jazyce C# a počítačové hry. Mým hlavním koníčkem je rybaření, kde nacházím klid a harmonii s přírodou. Kromě toho se také intenzivně věnuji basketbalu, který mi dodává energii a radost ze hry. V oblasti programování mě nejvíce zaujal jazyk C#, kterým se snažím zdokonalovat a vytvářet nové projekty. Ve volném čase se často ponořuji do světa počítačových her, které mi poskytují nejen zábavu, ale také možnost objevovat nové virtuální světy a rozvíjet svou kreativitu. Rád se seznamuji s novými lidmi a naslouchám jejich příběhům, stejně jako se dělím o své vlastní zážitky a zkušenosti.</p>
  </section>

  <section id="school" class="important w3-container w3-center section-padding">
      <h2><b>Škola</b></h2>
      <p id="schoolText" class="important"><span class="bold">Škola</span> ZŠ Chlumec nad Cidlinou</p>
      <p class="important"><span class="bold">Období</span> 1.9. 2018 - 30.6. 2027</p>
      <p class="important">Studoval jsem na ZŠ Chlumec nad Cidlinou od 1.9. 2018 do 30.6. 2027</p>
  </section>

  <section id="details" class="w3-container w3-center section-padding">
      <h2><b>Detaily</b></h2>
      <p class="important"><span class="bold">Narození</span><br />17.2. 2012, Hradec Králové</p>
      <p class="important"><span class="bold">Státní příslušenství</span><br />Čech</p>
      <p class="important"><span class="bold">Bydliště</span><br />Chlumec nad Cidlinou</p>
  </section>

  <section id="contact" class="w3-container w3-center section-padding">
      <h2><b>Kontakt</b></h2>
      <p class="important"><span class="bold">Discord</span> cekkicz</p>
      <p class="important"><span class="bold">Email</span> cekki@whoisalmo.cz</p>
      <p class="important"><span class="bold">Facebook</span><a href="https://facebook.com/tadeas.grigori.9/"> Tadeáš Grigori</a></p>
      <p class="important"><span class="bold">Instagram</span><a href="https://instagram.com/tad3as_g"> tad3as_g</a></p>
  </section>

  <section id="hobbies" class="w3-container w3-center section-padding">
      <h2><b>Koníčky</b></h2>
      <p class="important"><span class="bold">Basketbal</span><br />Basketbal je mou vášní od dětství. Rád trávím čas na hřišti nebo sleduji zápasy svých oblíbených týmů.</p>
      <hr />
      <p class="important"><span class="bold">Rybaření</span><br />Rybaření mě uklidňuje a přináší mi radost z přírody. Často trávím čas u vody, zkoumám nové místa a lovím ryby.</p>
      <hr />
      <p class="important"><span class="bold">Programování</span><br />Programování je mou profesní i zájmovou oblastí. Zvláště se věnuji programovacímu jazyku C# a rád vytvářím vlastní projekty.</p>
      <hr />
      <p class="important"><span class="bold">Počítačové hry</span><br />Počítačové hry jsou mým oblíbeným způsobem, jak relaxovat a bavit se. Rád objevuji nové tituly a soutěžím online.</p>
  </section>

</div>